$header-height: 3rem;

$hue-color: 142; // purple 250 - green 142 - blue 230 - pink 340

$first-color: hsl($hue-color, 69%, 61%);
$first-color-second: hsl($hue-color, 69%, 61%);
$first-color-alt: hsl($hue-color, 57%, 53%);
$first-color-lighter: hsl($hue-color, 92%, 85%);
$title-color: hsl($hue-color, 8%, 15%);
$text-color: hsl($hue-color, 8%, 45%);
$text-color-light: hsl($hue-color, 5%, 65%);
$input-color: hsl($hue-color, 70%, 96%);
$body-color: hsl($hue-color, 60%, 99%);
$scroll-bar-color: hsl($hue-color, 12%, 90%);
$scroll-thumb-color: hsl($hue-color, 12%, 80%);
$container-color: #fff;

$body-font: "Poppins", sans-serif;

$big-font-size: 2rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.125rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$smaller-font-size: 0.75rem;

$font-medium: 500;
$font-semi-bold: 600;

$mb-0-25: 0.25rem;
$mb-0-5: 0.5rem;
$mb-0-75: 0.75rem;
$mb-1: 1rem;
$mb-1-5: 1.5rem;
$mb-2: 2rem;
$mb-2-5: 2.5rem;
$mb-3: 3rem;

$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;

@media screen and (min-width: 968px) {
	$big-font-size: 3rem;
	$h1-font-size: 2.25rem;
	$h2-font-size: 1.5rem;
	$h3-font-size: 1.25rem;
	$normal-font-size: 1rem;
	$small-font-size: 0.875rem;
	$smaller-font-size: 0.813rem;
}

// dark theme

@mixin dark {
	@if $first-color-second == hsl($hue-color, 69%, 61%) {
		$first-color-second: hsl($hue-color, 30%, 8%);
		$title-color: hsl($hue-color, 8%, 95%);
		$text-color: hsl($hue-color, 8%, 75%);
		$input-color: hsl($hue-color, 29%, 16%);
		$body-color: hsl($hue-color, 28%, 12%);
		$container-color: hsl($hue-color, 29%, 16%);
		$scroll-bar-color: hsl($hue-color, 12%, 48%);
		$scroll-thumb-color: hsl($hue-color, 12%, 36%);
		.project_bg,
		.footer_bg {
			background-color: $first-color-second;
		}
		.change-theme,
		h1,
		h2,
		h3,
		h4,
		.nav_logo,
		.nav_toggle,
		.nav_link,
		.home_scroll-name,
		.about_info-title,
		.contact_label {
			color: $title-color;
		}
		.home_subtitle,
		.contact_input {
			color: $text-color;
		}
		.contact_content,
		.contact_input {
			background-color: $input-color;
		}
		header {
			background-color: $body-color;
		}
		.services_content,
		.services_modal-content {
			background-color: $container-color;
		}
		@media screen and (max-width: 767px) {
			.nav_menu {
				background-color: $body-color;
			}
		}
		@media screen and (min-width: 767px) {
			.project_container {
				background-color: $first-color-second;
			}
			.project_bg {
				background-color: $body-color;
			}
		}
	}
}
